.c-button-buy {
  margin-top: 10px;
  background: #3877A1;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  height: 28px;
  border-radius: 6px;
  font-size: 11px;
  width: 155px;
}

.blue {
  background: #3877A1;
}

.red {
  background: #D55454;
}
