.c-footer {
  bottom: 0;
  background: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 100%;
  padding: 15px 85px;

  &__copyright {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: #367BA4;
  }

  &__img {
    width: 150px;
    height: auto;
  }
}
