<div class="c-login">
  <button class="c-button" (click)="toggleShow()">Login</button>
</div>
<div class="c-modal" *ngIf="isShow">
  <form [formGroup]="verifyFormData" novalidate>
    <div class="c-modal__content">
      <input class="c-modal__input" type="text" name="email" [(ngModel)]="email"  formControlName="email" placeholder="E-mail" />
      <input class="c-modal__input" type="text" name="password" [(ngModel)]="password" formControlName="password" placeholder="Senha">
      <button class="c-button--modal" (click)="getToVerifyClient()">Login</button>
    </div>
  </form>
</div>
