.c-products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 115px;
  background: #FAFAFA;

  & img {
    width: 153px;
  }
}

.c-info-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 150px;
  padding: 0 25px 25px 25px;
  margin-left: 26px;
  margin-bottom: 15px;
  background: #fff;
}

.c-infos {
  display: flex;
  flex-direction: column;
  padding-top: 8px;

  & span {
    padding: 6px 0;
    font-size: 10px;
  }
}

.c-price {
  & span {
    background: #333333;
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    font-size: 17px;
    border-radius: 0px 0px 5px 4px;
 }
}

.c-counter {
  position: absolute;
  right: 111px;
  top: 658px;
}
