.c-logout {
  display: flex;
  justify-content: flex-end;
  padding: 15px 47px;

  &__btn {
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 83px;
    height: 37px;
    border-radius: 6px;
  }

  &__user {
    display: flex;
    align-items: center;
    padding-right: 60px;
    color: #3877A1;
  }
}
