.c-login {
  display: flex;
  justify-content: flex-end;
  padding: 15px 47px;
}

.c-button {
  background: #3877a1;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 83px;
  height: 37px;
  border-radius: 6px;

  &--modal {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: #3877a1;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 163px;
    height: 29px;
  }
}

.c-modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  padding: 15px 29px;
  right: 38px;

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ebe2e1;
    top: -5px;
    left: 41%;
  }

  &__content {
    border: 1px solid #ebe2e1;
    width: 200px;
    height: 146px;
  }

  &__input {
    display: flex;
    width: 150px;
    height: 28px;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid #ebe2e1;
    outline: none;

    &:first-child {
      margin-top: 20px;
    }
  }
}

.c-error {
  position: absolute;
  bottom: 63px;
  color: red;
}
