.c-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding-left: 40px;
  }

  &__link {
    text-decoration: none;
    color: #89aec7;
  }

  &__img {
    width: 150px;
    height: auto;
  }
}
